@charset "utf-8";

#loader .fl {
  width: 100px;
  height: 100px;
}


body {
  background: #c4ddff;
  color: #001d6e;
  font-size: 23px;
  letter-spacing: .14em;
  line-height: 1.8;
  text-align: justify;
  font-family: YakuHanJP, 'Shin Maru Go Medium', -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Arial, YuGothic, 'Yu Gothic', sans-serif;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
}

form {
  width: 600px;
  text-align: center;
}


input {
  width: 200px;
  padding: 3px;
  margin: 5px 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  overflow: hidden;
  background-color: #7fb5ff;
  color: #000000;
  text-align: center;
}

li {
  display: -moz-inline-box;
  display: inline-block;
}

.imagecenter {
  display: block;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}


.list_design026 {
  display: flex;
  padding: 0;
  list-style: none;
  align-items: center;
  width: 100%;
  height: 50px;
  padding: 20px 50px;
  box-sizing: border-box;
  /* padding分を含んで幅を100%にするため */
  position: fixed;
  /* ウィンドウを基準に画面に固定 */
  top: 0;
  /* 上下の固定位置を上から0pxにする */
  left: 0;
  /* 左右の固定位置を左から0pxにする */
  display: flex;
  /* 中の要素を横並びにする */
  align-items: center;
}

.list_design026 li {
  position: relative;
  cursor: pointer;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
  margin-left: 50px;
}

.list_design026 li::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: #000000;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transform-origin: center top;
  transform-origin: center top;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.list_design026 li:hover::after {
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}

.active {
  color: #000000;
}




@keyframes fadeIn {
  0% {
    opacity: 0
  }

  100% {
    opacity: 1
  }
}


/*------------------------------
text
------------------------------*/
.beige {
  color: #fff !important;
}

.pink {
  color: #333 !important;
}

.black {
  color: #333 !important;
}

.white {
  color: #fff !important;
}

.green {
  color: #06c755;
}

p {
  margin-top: 30px;
}

.lead {
  font-size: 16px;
  letter-spacing: .08em;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 21px;
}

h4 {
  font-size: 16px;
}

/*------------------------------
link
------------------------------*/

a,
a:hover,
a:active,
a:focus {
  color: #266194;
  text-decoration: none;
}

section a:hover {
  opacity: .8;
}

hr {
  margin: 30px 0;
  width: 100%;
  border: 0;
  border-top: 2px solid #4fda4f;
}

hr.dashed {
  margin: 5px 0;
  width: 100%;
  border: 0;
  border-top: 1px dashed #4fda4f;
}

.flow_link {
  margin-top: 20px;
}

.flow_link a,
.flow_link a:hover,
.flow_link a:active,
.flow_link a:focus {
  color: #fff;
}

.flow_link a span {
  border-bottom: 1px solid #fff;
  padding-bottom: 2px;
}

/*------------------------------
figure
------------------------------*/
.fx figure {
  position: relative;
  overflow: hidden;
  padding-top: 100%;
  border-radius: 20px;
}

.fx figure img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: .3s ease-in-out;
  /*スクエア*/
  height: 100%;
  width: auto;
}

.fx figure:hover img {
  transform: translate(-50%, -50%) scale(1.05);
  cursor: pointer;
  opacity: .8;
}

.fx figure figcaption {
  opacity: 0;
  font-size: 15px;
  text-align: center;
  color: #fff;
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: .3s;
}

.fx figure:hover figcaption {
  opacity: 1;
}

#page .fx figure {
  padding-top: 66.666%;
  border-radius: 5px;
}

/*------------------------------
list
------------------------------*/
#page .indent {
  padding-left: 2em;
  text-indent: -1.8em;
  margin-top: 15px;
}

ol.list,
ul.list {
  margin-top: 30px;
}

ol.list li,
ul.list li {
  position: relative;
  margin: 15px 0 0 1.5em;
}

ul.list li {
  list-style: none;
}

ul.list li::after {
  display: block;
  content: '';
  position: absolute;
  top: 1em;
  left: -1em;
  width: 3px;
  height: 3px;
  background: #333;
  border-radius: 50%;
}

ul.flow {
  list-style: none;
  margin-top: 20px;
}

ul.flow li {
  margin-top: 15px;
  position: relative;
  text-align: left;
  letter-spacing: .1em;
  border: 1px solid #fff;
  padding: .5em 1.5em;
  border-radius: 20px;
}

ul.flow li:not(:last-child)::after {
  position: absolute;
  content: "";
  display: inline-block;
  width: 5px;
  height: 5px;
  box-sizing: border-box;
  border-style: solid;
  border-width: 5px 5px 0px 5px;
  bottom: -10px;
  left: 50%;
  margin-left: -2.5px;
  border-color: #fff transparent transparent transparent;
}

#mag ul.flow li {
  border: 1px solid #266194;
}

#mag ul.flow li:not(:last-child)::after {
  border-color: #266194 transparent transparent transparent;
}

#column ul {
  list-style: none;
}

/*------------------------------
btn
------------------------------*/
.btn {
  display: inline-block;
  width: 100%;
  width: 200px;
  height: auto;
  text-align: center;
  border-radius: 30px;
  padding: 10px 0;
  margin-top: 30px;
  transition: all .3s;
  color: #fff;
  background: #7fb5ff;
  font-size: 20px;
  letter-spacing: .05em;
}

.btn-white {
  background: #fff;
}

.btn:hover {
  opacity: .9;
  color: #fff;
}

/*------------------------------
table
------------------------------*/
table {
  margin-top: 60px;
  width: 100%;
}

table tr {
  border-bottom: 1px solid #fff;
}

table tr:first-child {
  border-top: 1px solid #fff;
}

table th,
table td {
  font-weight: normal;
  padding: 20px;
  vertical-align: top;
}

table td:first-child {
  white-space: nowrap;
}

.no-border td,
.no-border tr,
.no-border tr:first-child {
  border: none;
  padding: 0 0 30px;
  text-align: left;
}

@media (max-width: 991px) {
  .table-sp thead {
    display: none;
  }

  .table-sp th,
  .table-sp td {
    display: block;
    padding: 10px;
  }
}

@media screen and (max-width:991px) {
  .table-scroll {
    position: relative;
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }

  .table-scroll:after {
    content: "→";
    position: absolute;
    font-size: 60px;
    margin-top: -30px;
    top: 50%;
    right: 100px;
    line-height: 1;
    opacity: 0;
  }

  .table-scroll.show:after {
    opacity: .2;
    transition: 1s;
    right: 5px;
  }

  .table-scroll.del:after {
    display: none;
  }
}

/*------------------------------
#lift
------------------------------*/
#lift {
  position: fixed;
  bottom: -45px;
  right: 15px;
  transition: .5s;
}

#lift.lift-on {
  bottom: 120px;
}

#lift>a {
  background: transparent;
  display: block;
  width: 30px;
  height: 45px;
  line-height: 45px;
  letter-spacing: normal;
  text-align: center;
  text-decoration: none;
  border-radius: 15px;
  transition: .3s;
}

#lift>a:hover {
  opacity: .5;
}




/*------------------------------
wp
------------------------------*/
/* column */
.column_date {
  font-size: 10px;
  margin-top: 15px;
}

.column_cat {
  font-size: 12px;
  color: #fff;
}

.column_title {
  font-size: 12px;
  padding: 10px 15px;
  margin: 0;
  line-height: 1.6;
}

.post-link {
  margin-top: 60px;
  display: inline-block;
  width: 100%;
}

#the_posts_pagination nav {
  display: inline-block;
}

.pagination h2.screen-reader-text {
  display: none;
}

.page-numbers {
  margin: 0 5px;
}


.wp-block-quote {
  border-left: 3px solid #4fda4f;
  padding-left: 30px;
}

.wp-block-quote cite a {
  font-style: normal;
  color: #999;
}

/* search */
::placeholder {
  font-family: YakuHanJP, 'Shin Maru Go Medium', -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Arial, YuGothic, 'Yu Gothic', sans-serif;
  color: #ccc;
  font-size: 12px;
}

.search {
  color: #7fb5ff;
  background: #fff;
  margin: 0;
  padding: 0 15px;
  border: 0;
  border-radius: 5px 0 0 5px;
  width: 120px;
  height: 30px;
  vertical-align: middle;
}

.btn_search {
  font-family: YakuHanJP, 'Shin Maru Go Medium', -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Arial, YuGothic, 'Yu Gothic', sans-serif;
  font-size: 12px;
  color: #fff;
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 0 5px 5px 0;
  width: 40px;
  height: 30px;
  cursor: pointer;
  vertical-align: middle;
}

/*------------------------------
header
------------------------------*/
header .copy {
  width: 180px;
  height: auto;
  margin-top: 60px;
}

header .logo {
  width: 180px;
  height: auto;
  margin-top: 20px;
}

header h2 {
  font-size: 16px;
  margin-top: 30px;
}

header .main {
  width: 320px;
  height: auto;
  margin-top: 100px;
}

header .btn_top_mag,
header .btn_top_sodan {
  position: absolute;
  top: 325px;
  right: 50%;
  margin-right: 10px;
  width: auto;
  height: 64px;
  cursor: pointer;
  display: inline-block;
}

header .btn_top_sodan {
  left: 50%;
  margin-left: 10px;
}

header .btn_top_mag:hover,
header .btn_top_sodan:hover {
  filter: brightness(1.1);
  transition: 1s;
}

header .offer,
#lp_bottom .offer {
  display: inline-block;
  padding: 1em 2em;
  border: 1px solid #266194;
  border-radius: 22px;
  background: #fff;
  color: #7fb5ff;
  font-size: 12px;
  margin-top: 60px;
}

header .offer a,
#lp_bottom .offer a,
#chat .offer a {
  color: #06c755;
  font-size: 16px;
}

/*------------------------------
section
------------------------------*/
section {
  max-width: 1800px;
}

.frame_blue,
.frame_pink {
  padding: 10px;
  border-radius: 30px;
}

.frame {
  background: #7fb5ff;
}

.frame_blue {
  color: #fff;
  background: #266194;
}

.frame_pink {
  color: rgb(0, 0, 0);
  background: #7fb5ff;
}

.blue {
  background: #7fb5ff;

}

.frame_blue_s {
  color: #fff;
  background: #266194;
}

.frame_pink_s {
  color: rgb(0, 0, 0);
  background: #7fb5ff;
}

.frame_s img,
.frame_pink_s img,
.frame_blue_s img {
  width: auto;
  height: 140px;
  margin-top: 30px;
}

/* #komarigoto */
#komarigoto .cap_komarigoto {
  width: 80%;
  height: auto;
}

#komarigoto .fukidashi {
  position: relative;
  width: 100%;
  margin: 60px auto 0;
}

#komarigoto .fukidashi img {
  position: absolute;
  width: 190px;
  height: auto;
}

#komarigoto .fukidashi .f1 {
  width: 170px;
  top: 0px;
  right: 50%;
  margin-right: -10px;
}

#komarigoto .fukidashi .f2 {
  width: 170px;
  top: 250px;
  right: 50%;
  margin-right: -30px;
}

#komarigoto .fukidashi .f3 {
  top: 120px;
  left: 0;
}

#komarigoto .fukidashi .f4 {
  top: 180px;
  right: 0;
  margin-right: 0;
}

#komarigoto .fukidashi .f5 {
  top: 80px;
  right: 0;
}

#komarigoto .img_komarigoto {
  margin-top: 340px;
}

/* #dekiru */
#dekiru .cap_dekiru {
  height: auto;
  width: 200px;
}

#dekiru .char1 {
  width: auto;
  height: 120px;
  margin: 30px 0 0 0px;
}

#dekiru .frame_pink_s p:nth-of-type(1) {
  font-size: 48px;
  color: #266194;

}

#dekiru .frame_pink_s p:nth-of-type(2) {
  font-size: 20px;
  margin: 0;
}

#dekiru .frame_pink_s p:nth-of-type(3) {
  letter-spacing: .02em;
}

/* #sodan */
#sodan .frame {
  background: #8caad8;
  padding: 0 30px 60px;
  text-align: center;
}

#sodan .cap_sodan {
  width: auto;
  height: 80px;
}

#sodan img {
  display: block;
  margin: 0 auto;
  height: 70px;
  width: auto;
}

#sodan .img_right {
  height: 76px;
}

#sodan .img_left,
#sodan .img_right {
  transform: scale(-1, 1);
}

/* #support */
#support {
  max-width: none;
  background: #7fb5ff;
  padding: 25px 2px;
  margin: 60px;
  border-radius: 50px;
}

#support .cap_support {
  width: 100%;
  height: auto;
}



#support .prof {
  margin-top: 0;
  font-size: 10px;
  letter-spacing: .04em;
  color: #4fda4f;
}

/* #service */
#service .cap_service {
  width: 280px;
  height: auto;
}

#service .copy_service {
  font-size: 20px;
  margin-bottom: 15px;
  text-align: center;
}

#service .frame_s p,
#service .frame_pink_s p,
#service .frame_blue_s p {
  text-align: left;
}

#service h2 {
  font-size: 22px;
}

#service .char2 {
  width: auto;
  height: 140px;
  margin: 20px 40px 0 0;
}

#mag .col-1-2,
#mag .col-2-1,
#mag .col-2,
#chat .col-1-2,
#chat .col-2-1,
#chat .col-2,
#zoom .col-1-2,
#zoom .col-2-1,
#zoom .col-2 {
  align-items: center;
}

#mag .copy_service,
#chat .copy_service,
#zoom .copy_service {
  line-height: 1;
  transform: rotate(-5deg);
  margin: 0 0 20px 0;
  text-align: center;
}

#mag h2,
#chat h2,
#zoom h2 {
  font-size: 24px;
  line-height: 1;
  text-align: center;
}

#mag h3,
#chat h3,
#zoom h3 {
  display: inline-block;
  font-size: 16px;
  border-bottom: 2px dashed #4fda4f line-height: 1;
  padding-bottom: 10px;
  margin-top: 15px;
}

#mag .btn_join,
#chat .btn_join,
#zoom .btn_join {
  width: 240px;
  height: auto;
  display: block;
  border: 2px solid #fff;
  border-radius: 25px;
}

#mag img,
#chat img,
#zoom img {
  width: 140px;
  height: auto;
  display: block;
  margin: 0 auto;
}

#mag .btn,
#chat .btn,
#zoom .btn {
  width: 180px;
  height: auto;
}

#mag a:hover img,
#chat a:hover img,
#zoom a:hover img {
  filter: brightness(1.1);
  transition: 1s;
}

#mag .btn:hover,
#chat .btn:hover,
#zoom .btn:hover {
  opacity: 1;
}

#chat h3,
#zoom h3 {
  border-bottom: 2px dashed #fff;
}

#chat li:before {
  background-color: #fff;
  color: #4fda4f;
}

#zoom li:before {
  background-color: #fff;
  color: #4fda4f;
}

#chat .code {
  padding: 5px 2px 5px 5px;
  margin: 0 5px;
  border: 1px dashed #fff;
  font-size: 15px;
}

#chat .offer {
  display: block;
  text-align: center;
  padding: 1em;
  border-radius: 22px;
  background: #fff;
  color: #4fda4f;
  font-size: 12px;
  margin-top: 60px;
}

/* #goriyou */
#goriyou .cap_goriyou {
  width: 260px;
  height: auto;
}

#goriyou div.lead {
  text-align: left;
}

#goriyou .frame_s,
#goriyou .frame_pink_s {
  margin-top: 0;
}

#goriyou img {
  width: auto;
  height: 80px;
}

#faq .frame_blue {
  text-align: center;
}

#faq .cap_faq {
  width: 100%;
  height: auto;
}

#faq .q {
  font-size: 18px;
  color: #4fda4f;
  margin-right: 5px;
}

#faq p {
  margin-top: 30px;
  text-align: left;
}

#anshin {
  text-align: center;
}

#anshin h2 {
  font-size: 20px;
}

#anshin img {
  width: auto;
  height: 140px;
  margin-top: 15px;
}

/* adds */

#adds .frame_pink {
  padding: 0;
  border-radius: 30px;
}

#adds .about_adds {
  padding: 0 30px 30px;
}

#adds .about_adds p:first-child {
  margin-top: 0;
}

#adds p {
  margin-top: 15px;
}

#adds h2 {
  font-size: 20px;
}

#adds p.chui {
  font-size: 12px;
}

#adds .frame_pink img {
  border-radius: 30px 30px 0 0;
}

#adds .frame_pink img.logo_adds {
  width: auto;
  height: 20px;
  display: inline-block;
  margin-left: 10px;
  padding: 0;
  border-radius: 0;
  vertical-align: text-bottom;
}

#adds .frame {
  margin-top: 60px;
  padding: 45px 30px 30px;
  border-radius: 30px;
}

#adds .frame img {
  width: auto;
  height: 120px;
}

/* #column */
#column .cap_column {
  width: 100%;
  height: auto;
}

#column .more {
  border: 0;
  border-bottom: 2px dashed;
  padding-bottom: 5px;
  font-size: 20px;
  color: #4fda4f;
}

/*# lp_bottom */

#lp_bottom {
  text-align: center;
}

#lp_bottom .logo {
  width: 180px;
  height: auto;
  margin-top: 0px;
}

#lp_bottom .btn_join img {
  display: inline-block;
  width: 155px;
  height: auto;
  margin: 30px 4px 0;
}

#lp_bottom .btn_join a:hover {
  filter: brightness(1.1);
  opacity: 1;
}

#lp_bottom .main {
  width: 300px;
  height: auto;
  margin-top: 30px;
}

/*------------------------------
page
------------------------------*/
#page header h1 {
  font-size: 10px;
  color: #7fb5ff;
  margin-top: 30px;
}

#page header .copy {
  width: 140px;
  margin-top: 60px;
}

#page header .logo {
  width: 150px;
  height: auto;
  margin-top: 10px;
}

#page header .main {
  width: 180px;
  height: auto;
  margin-top: 30px;
}

#page .page_block {
  display: block;
  position: relative;
  background: #fff;
  padding: 40px 40px 60px;
  border-radius: 5px;
}

#page .cap_column {
  width: auto;
  height: 100%;
  margin-top: 30px;
}

#page ul.category {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  margin: 0;
}

#page ul.category a {
  padding: 10px 10px;
  border-bottom: 1px dashed #4fda4f;
  display: block;
  font-size: 10px;
}

#page ul.category a:first-child {
  border-top: 1px dashed #4fda4f;
}

#page ul.category a:hover {
  color: #4fda4f;
}

#page ul.category li {
  position: relative;
  width: 100%;
  list-style: none;
}

#page ul.category li::after {
  position: absolute;
  content: "▶︎";
  font-size: 10px;
  top: 1px;
  right: 0;
}

/* #column_top */
#column_top .column_block {
  display: block;
  position: relative;
  background: #fff;
  padding: 10px;
  border-radius: 5px;
}

#column_top .column_block div {
  position: absolute;
  bottom: 0;
  right: 0;
  background: #fff;

}

#column_top ul li {
  background: #fff;
  border-radius: 5px;
}

/* #column_list */
#column_list a {
  display: block;
  margin-top: 30px;
}

#column_list a:first-child {
  margin: 0;
}

#column_list li {
  background: #fff;
  transition: .3s;
  border-radius: 5px;
}

#column_list li:hover {
  background: #f1f1f1;
}

#column_list .fx figure {
  border-radius: 5px 0 0 5px;
}

#column_list .column_pic {
  position: relative;
}

#column_list .column_pic span {
  position: absolute;
  top: 0;
  left: 0;
  background: #7fb5ff;
  color: #fff;
  padding: 2px 5px;
  border-radius: 5px 0 0 0;
  font-size: 10px;
}

#column_list .column_date {
  margin-top: 5px;
  color: #7fb5ff;
}

#column_list .column_title {
  padding: 10px 10px 0 0;
  font-size: 12px;
  letter-spacing: .12em;
}

/*------------------------------
single
------------------------------*/
#single .column_block {
  display: block;
  position: relative;
  background: #fff;
  padding: 40px 40px 60px;
  border-radius: 5px;
}

#single img {
  margin: 30px 0 10px;
  width: 100%;
  height: auto;
  border-radius: 15px;
}

#single h2,
#single h3,
#single h4 {
  margin-top: 60px;
  font-size: 16px;
  letter-spacing: .12em;
}

#single p {
  margin-top: 30px;
  word-wrap: break-word;
  text-align: left;
}

#single ul {
  margin-top: 30px;
  margin-left: 20px;
  list-style: disc;
}

#single ol {
  margin-top: 30px;
  margin-left: 20px;
}

#single .wp-block-image figcaption {
  font-size: 12px;
}

/*------------------------------
shisetsu
------------------------------*/
.shisetsu_block {
  background: #fff;
  margin-top: 15px;
  padding: 15px 30px;
  border-radius: 5px;
  font-size: 10px;
}

.shisetsu_block:first-child {
  margin: 0;
}

.shisetsu_block h2 {
  margin: 0 !important;
}

.shisetsu_block p {
  margin: 0 !important;
}

.shisetsu_block a {
  color: #7fb5ff;
}

.shisetsu_block .col-4 {
  margin: 0;
  grid-gap: 0;
}

/*------------------------------
footer
------------------------------*/
#footer {
  background: #7fb5ff;
  text-align: center;
  color: rgb(0, 0, 0);

  margin-top: 90px;
}

#footer ul li {
  display: block;
  color: rgb(0, 0, 0);
  margin: 10px 0;
}

#footer ul.column-cat {
  margin-top: 30px;
}

#footer ul.column-cat li {
  display: inline-block;
  margin: 10px 5px 0;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 15px;
}

#footer ul.column-cat li a {
  color: rgb(0, 0, 0);
  padding: 4px 10px;
  letter-spacing: 0;
  line-height: 1;
  font-size: 12px;
}

#footer ul.column-cat li:hover {
  opacity: .6;
}

#footer ul.column-cat li a:hover {
  opacity: 1;
}

#footer a {
  color: rgb(0, 0, 0);
}

#footer a:hover {
  opacity: .6;
}

/*------------------------------
.form 20210707追加
------------------------------*/
tr td:first-child {
  width: 160px;
  vertical-align: middle;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
input[type="password"],
textarea,
select {
  width: 50%;
  height: 20px;
  vertical-align: middle;
  color: #266194;
  background: #f1f1f1;
  letter-spacing: .1em;
}

input[type="submit"] {
  cursor: pointer;
  font-family: 'Shin Maru Go Medium', -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Arial, YuGothic, 'Yu Gothic', sans-serif;
}

textarea {
  height: 10em;
  line-height: 1.5;
}

/*------------------------------
wpcf7
------------------------------*/
span.wpcf7-not-valid-tip,
div.wpcf7-validation-errors,
div.wpcf7-acceptance-missing,
div.wpcf7-response-output,
div.wpcf7-mail-sent-ok {
  border: none !important;
  color: #4fda4f;
  font-family: YuGothic, 'Yu Gothic', sans-serif;
  -webkit-font-smoothing: antialiased;
}

.wpcf7 form .wpcf7-response-output {
  margin: 0;
  padding: 0;
}

div.wpcf7 .ajax-loader {
  display: none;
}

.wpcf7-spinner {
  display: block;
}

/*------------------------------
slick
------------------------------*/
.carousel {
  margin-top: 90px;
}

.carousel li {
  padding: 0 15px;
}

/*------------------------------
768px
------------------------------*/
@media (min-width: 768px) {
  #komarigoto .cap_komarigoto {
    height: 70px;
    width: auto;
  }

  #komarigoto .container {
    width: 90%;
  }

  #komarigoto .img_komarigoto {
    width: 480px;
    height: auto;
  }

  #komarigoto .fukidashi {
    width: 640px;
    margin: 60px auto 0;
  }

  #komarigoto .fukidashi img {
    width: 240px;
  }

  #komarigoto .fukidashi .f1 {
    width: 220px;
    margin-right: -60px;
  }

  #komarigoto .fukidashi .f2 {
    width: 220px;
    top: 190px;
    margin-right: -90px;
  }

  #komarigoto .fukidashi .f4 {
    top: 160px;
    margin-right: 30px;
  }

  #komarigoto .fukidashi .f5 {
    top: 40px;
    right: 10px;
  }

  #support .cap_support {
    width: auto;
    height: 70px;
  }

  #goriyou .cap_goriyou {
    width: auto;
    height: 120px;
  }

  #faq .cap_faq {
    width: auto;
    height: 50px;
  }

  #page header h1 {
    font-size: 12px;
  }

  #page header .logo {
    width: 180px;
  }

  #page .page_block {
    padding: 60px 60px 90px;
  }

  #page ul.category a {
    font-size: 13px;
  }

  .column_date {
    font-size: 12px;
  }

  #column .cap_column {
    width: auto;
    height: 70px;
  }



  #column_list .column_pic span {
    padding: 5px 15px;
    font-size: 12px;
  }

  #column_list .column_title {
    margin: 0;
    padding: 30px 30px 0;
    font-size: 18px;
  }

  #column_list .column_date {
    margin: 0;
    padding: 5px 30px 10px;
  }

  #single h2,
  #single h3,
  #single h4 {
    font-size: 18px;
  }

  #single .column_block {
    padding: 60px 60px 90px;
  }

  #single img {
    margin: 60px 0 10px;
  }

  .shisetsu_block {
    font-size: 13px;
  }

  .search {
    width: 175px;
    height: 40px;
  }

  .btn_search {
    width: 50px;
    height: 40px;
  }
}

/*------------------------------
992px
------------------------------*/
@media (min-width: 992px) {
  body {
    font-size: 14px;
  }

  h4 {
    font-size: 18px;
  }

  header .copy {
    width: 240px;
  }

  header .logo {
    width: 300px;
    margin-top: 30px;
  }

  header h2 {
    font-size: 20px;
  }

  header .main {
    width: 640px;
    margin-top: 60px;
  }

  header .btn_top_mag,
  header .btn_top_sodan {
    top: 310px;
    right: 50%;
    margin-right: 180px;
    width: auto;
    height: 120px;
  }

  header .btn_top_sodan {
    left: 50%;
    margin-left: 180px;
  }

  header .offer br,
  #lp_bottom .offer br,
  #chat .offer br {
    display: none !important;
  }

  /* section
  ------------------------------*/

  ul.flow li {
    text-align: center;
  }


  .frame_s,
  .frame_blue_s,
  .frame_pink_s {
    width: 100%;
    padding: 50px 60px;
    border-radius: 150px;
    margin: 40px;
  }

  #komarigoto .fukidashi {
    width: 640px;
  }

  #komarigoto .cap_komarigoto {
    height: 80px;
    width: auto;
  }

  #komarigoto .img_komarigoto {
    width: 540px;
    height: auto;
  }

  #dekiru .cap_dekiru {
    height: 120px;
    width: auto;
  }

  #dekiru .char1 {
    margin: -60px 0 0 60px;
  }

  #sodan .cap_sodan {
    width: auto;
    height: 120px;
  }

  #sodan img {
    display: inline-block;
  }

  #support {
    padding: 120px 0;
  }

  #support .cap_support {
    width: auto;
    height: 100px;
  }

  #support img {
    width: auto;
    height: 160px;
  }

  #support .frame {
    padding: 60px 120px;
    border-radius: 150px;
  }

  #support h2 {
    font-size: 18px;
  }

  #service .cap_service {
    width: auto;
    height: 100px;
  }

  #service .char2 {
    margin: 0px 80px 0 0;
  }

  #mag .copy_service,
  #chat .copy_service,
  #zoom .copy_service {
    margin: -30px 0 40px -30px;
    text-align: left;
  }

  #mag h2,
  #chat h2,
  #zoom h2 {
    font-size: 28px;
    text-align: left;
  }

  #mag h3,
  #chat h3,
  #zoom h3 {
    margin-top: 0;
  }

  #mag .btn_join,
  #chat .btn_join,
  #zoom .btn_join {
    width: 100%;
  }

  #mag img,
  #chat img,
  #zoom img {
    width: auto;
    height: 180px;
    display: block;
    margin: 0 auto;
  }

  #goriyou .cap_goriyou {
    width: auto;
    height: 150px;
  }

  #goriyou div.lead {
    text-align: right;
  }

  #goriyou .frame_s.one {
    margin-top: 0px;
  }

  #goriyou .frame_pink_s.two {
    margin-top: 60px;
  }

  #goriyou .frame_s.three {
    margin-top: 120px;
  }

  #faq .frame_blue {
    text-align: left;
  }

  #faq .cap_faq {
    width: auto;
    height: 60px;
  }

  #faq img {
    display: inline-block;
    margin: 0;
  }

  #faq p {
    margin-top: 0px;
    text-align: left;
  }

  #adds .frame_pink {
    padding: 0 60px 0 0;
    border-radius: 30px;
  }

  #adds .frame_pink img {
    border-radius: 30px 0 0 30px;
  }

  #adds .about_adds {
    padding: 30px 0 0;
  }

  #adds .about_adds p:first-child {
    margin-top: 15px;
  }

  #adds .frame {

    padding: 60px;
  }

  #adds .frame img {
    width: auto;
    height: 160px;
  }

  #column .cap_column {
    width: auto;
    height: 80px;
  }

  #lp_bottom .btn_join img {
    width: 280px;
    height: auto;
    margin: 30px 30px 0;
  }

  #lp_bottom .main {
    width: 480px;
    height: auto;
    margin-top: 30px;
  }

  #footer ul li {
    display: inline-block;
    margin: 0 15px;
  }

  /* page */
  #page .cap_column {
    width: auto;
    height: 80px;
  }
}

@media (min-width: 1200px) {
  #service .char2 {
    margin: -90px 80px 0 0;
  }

  .search {
    width: 227px;
  }

  .btn_search {
    width: 50px;
  }
}

/*------------------------------
break point
------------------------------*/

/* container
------------------------------*/
.container {
  width: 80%;
  margin: 0 auto;
  position: relative;
}

@media (min-width: 768px) {
  .container {
    width: 480px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 932px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}

/* appearance
------------------------------*/
@media (max-width: 991px) {
  .pc-lg {
    display: none !important
  }

  .pc {
    display: none !important
  }

  .pc-center {
    text-align: left;
  }

  .pc-center br {
    display: none;
  }

  .sp-center {
    text-align: center;
  }
}

@media (min-width: 992px) {
  .sp {
    display: none !important
  }

  .pc-center {
    text-align: center;
  }

  .sp-center {
    text-align: left;
  }

  .pad {
    display: none !important
  }

  .br-clr br {
    display: none;
  }

}

.hidden {
  display: none !important
}

/* iphone5
------------------------------*/
@media (max-width: 320px) {
  header h2 {
    font-size: 13px;
  }

  header p {
    font-size: 12px;
  }

  header .main {
    width: 100%;
  }

  #komarigoto .fukidashi .f1 {
    width: 150px;
    top: 0px;
    right: 50%;
    margin-right: -20px;
  }

  #komarigoto .fukidashi .f2 {
    width: 150px;
    top: 250px;
    right: 50%;
    margin-right: -30px;
  }

  #komarigoto .fukidashi .f3 {
    width: 170px;
    top: 130px;
    left: 0;
  }

  #komarigoto .fukidashi .f4 {
    width: 170px;
    top: 180px;
    right: 0;
    margin-right: 0;
  }

  #komarigoto .fukidashi .f5 {
    width: 170px;
    top: 80px;
    right: 0;
  }

  #lp_bottom .btn_join img {
    width: 130px;
  }
}